

<!-------------------------------- C S S ------------------------------------------>

<link rel="shortcut icon" href="../images/monthly_logo.png" />

<!-- plugins:css -->
<link rel="stylesheet" href="../vendors/iconfonts/mdi/css/materialdesignicons.css">
<link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="../vendors/css/vendor.bundle.addons.css">

<!-- inject:css -->
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" type="text/css" href="../css/mystyle.css">

<!--Data Table-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css">

<!--Rating Stars-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">

<!--Krajee File Input-->
<link rel="stylesheet" type="text/css" href="../css/fileinput.css"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<!--LightBox Preview Image-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">

<!--Sweet Alert-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

<!--------------------------------- J S ------------------------------------------>


<!--JQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--Bootstrap-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<!--Data Table-->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>

<!--Format Date-->
<script src="../js/formatdate.js"></script>

<!--Rating Stars-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

<!--Krajee File Input-->
<script type="text/javascript" src="../js/fileinput.js"></script>

<!--LightBox Preview Image-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>

<!--Sweet Alert-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<!--Pubnub-->
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.21.7.js"></script>

<script>
    var assetUrl        = "http://192.168.178.138:8888/resource/assets/";
    var apiUrl          = "http://192.168.178.138:8888/api/";

    var noImageUrlOld   = "https://twibbon.blob.core.windows.net/twibbon/2017/175/edd2c46d-beee-4e67-b713-73f0adc75861.png";
    var noImageUrl      = "../images/imageDefault.png" // "https://cdn0.iconfinder.com/data/icons/photo-filled-2/216/landscape-picture-edit-photography--circle-128.png";
    var noImageUrl2     = "../images/imageDefault2.svg" // "https://cdn11.bigcommerce.com/s-mz5hl9/stencil/80f3f3e0-b5f2-0136-dbcc-03d2712052fb/images/no-image.svg";

    var editIcon        = "../images/iconEdit.png" // "https://cdn3.iconfinder.com/data/icons/social-messaging-ui-color-line/254000/35-512.png";
    var addTagIcon      = "../images/iconAddTag.png" // "https://www.flaticon.com/premium-icon/icons/svg/276/276382.svg";
    var addImageIcon    = "../images/iconAddImage.png" // "https://www.flaticon.com/premium-icon/icons/svg/279/279315.svg";
    var deleteIcon      = "../images/iconDelete.png" // "https://cdn3.iconfinder.com/data/icons/flat-circle-content/512/flat-style-circle-delete-trash-512.png";
    var restoreIcon     = "../images/iconRestore.png" // "https://cdn3.iconfinder.com/data/icons/flat-circle-content/512/flat-style-circle-undo-2-512.png";

    pubnub = new PubNub({
        publishKey      : 'demo',
        subscribeKey    : 'demo',
        uuid            : PubNub.generateUUID()
    });

    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        if ($(this).attr("src") == noImageUrl || $(this).attr("src") == noImageUrl2) {
            return;
        }

        event.preventDefault();
        $(this).attr("data-remote", $(this).attr("src"));
        $(this).ekkoLightbox();
    });
</script>