<div th:fragment="sidebar">
<!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav" style="position: fixed">
            <li class="nav-item nav-profile">
                <div class="nav-link">
                    <div class="user-wrapper">
                        <div class="profile-image">
                            <img src="../images/b-tou.png" alt="profile image">
                        </div>
                        <div class="text-wrapper">
                            <p class="profile-name">Admin</p>
                            <div>
                                <small class="designation text-muted">Mobile R&D</small>
                                <span class="status-indicator online"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/index}">
                    <i class="menu-icon mdi mdi-television"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/category_list}">
                    <i class="menu-icon mdi mdi-menu"></i>
                    <span class="menu-title">Categories</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/location_list}">
                    <i class="menu-icon mdi mdi-account-location"></i>
                    <span class="menu-title">Locations</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/food_list}">
                    <i class="menu-icon mdi mdi-food"></i>
                    <span class="menu-title">Foods</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/tag_list}">
                    <i class="menu-icon mdi mdi-tag"></i>
                    <span class="menu-title">Tags</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/event_list}">
                    <i class="menu-icon mdi mdi-eventbrite"></i>
                    <span class="menu-title">Events</span>
                    <!--<i class="menu-arrow"></i>-->
                </a>
            </li>
        </ul>
    </nav>
</div>