.required:after {
    content:" *";
    color: red;
}

img:not([src*="../images/imageDefault.png"]):not([src*="../images/imageDefault2.svg"])  {
    cursor: pointer;
}

img:not([src]){
    display:none;
}

.custom-select {
    background-image: none;
    border-color: darkgrey;
}

table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
    text-align: center;
    padding: 30px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #f5f5f5;
}

.table {
    border-spacing: 0;
    border: 2px solid #E3EBF3;
    text-align: center;
}

.table thead th {
    border-top: 2px solid #E3EBF3;
    border-bottom: 2px solid #E3EBF3;
    font-weight: bold;
    background-color: #edf3ff;
}

.table td, .table th {
    border: 1px solid #E3EBF3;
}

.table td:not(:last-child) {
    padding: 8px;
    white-space: pre-line;
}

.table td:last-child {
    padding: 8px;
    white-space: nowrap;
}


.ekko-lightbox-container, .ekko-lightbox-item, .ekko-lightbox-item.fade.in.show  {
    position: relative;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    margin: 0 auto;
}